<div *ngIf="signalDurumu=='Waiting connection....' || signalDurumu == 'Reconnecting' || signalDurumu == 'Connection Closed'; then con_try else con_success"> </div>
<div *ngIf="getMqttConnect() == 'true' && getCookie()!=''; then userExist else userNonExist"></div>

  <!-- user exist -->
  <ng-template #userExist>

    <!-- connect -->
    <div class="row">
      
      <mat-form-field class="my-full-width mt-3" appearance="fill">
        <mat-label>Server</mat-label>
        <input disabled matInput value={{serverName}}>
        <mat-icon matSuffix>storage</mat-icon>
      </mat-form-field>

      <mat-form-field class="my-width mt-3" appearance="fill">
                <mat-label>Kullanıcı Adı</mat-label>
                <input disabled matInput value={{userName}}>
                <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field class="my-width mt-3" appearance="fill">
                <mat-label>Şifre</mat-label>
                <input disabled matInput value={{password}}>
                <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button 
        [routerLink]="['/login']"
        (click)="logOut()" class="btn my-btn-disable"
        >MQTT Disconnect
      </button>  
    </div>
    

    <mat-tab-group>

      <mat-tab label="Subscribe">
        
        <!-- topic gonderme -->
        <mat-grid-list cols="12" rowHeight="100px">
          <!-- url -->
          <mat-grid-tile [colspan]="9" [rowspan]="1" >

            <mat-form-field class="my-full-width  mt-4" appearance="fill">
              <input matInput class="my-full-width" [(ngModel)]="url">
            </mat-form-field>
          
            <br><br><br>           
          </mat-grid-tile>

          <!-- subscribe button -->
          <mat-grid-tile [colspan]="3" [rowspan]="1" >
            <div class = "row">
              <button (click)="sendMessage()" class="glow-on-hover" type="button">Subscribe</button>
            </div>
          </mat-grid-tile>
    
        </mat-grid-list>      

        <mat-list>
          <mat-list-item>Mesaj : {{bendenemeyim | basic : 100}} </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

        <div class="row">

          <!-- Get Topic Name -->
          <div class="col-sm-6">
            <div  *ngIf="clickSubscribe == true"  class="card" style="width: 18rem;"> 
              <ul *ngFor="let item of getGroup()"  class="list-group list-group-flush">
                <li class="list-group-item my-div">{{ item.groupName }} 
                  <div><button (click)="Unsubscribe(item.groupName)" class="btn btn-secondary my-div-buton mx-1">unsubscribe</button></div>
                  <div><button (click)="Mute(item.groupName)" class="btn btn-secondary my-div-buton">mute</button></div>
                </li>
              </ul>
          </div>
          </div>

          <!-- Topic Proporties -->
          <div *ngIf="clickSubscribe == true" class="col-sm-6">
            <div #container class="card container" >
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Count</th>
                    <th scope="col">Speed</th>
                    <th scope="col">QoS</th>
                    <th scope="col">CPU</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of getTopics()">
                    <td>{{ item.firstTime }}</td>
                    <td>{{ item.lastTime }}</td>
                    <td>{{ item.calismaSuresi }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.speedSecond }}</td>
                    <td>{{ item.QoS }}</td>
                    <td>{{ item.cpuYuzde }}</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </mat-tab>

      <mat-tab label="Publish">
        <mat-grid-list cols="17" rowHeight="100px">
          <mat-grid-tile
              [colspan]="10"
              [rowspan]="1"
               >
               <!-- [style.background]= "'#DCDCDC'" -->
              <mat-form-field class="my-full-width mt-3" appearance="fill">
                <mat-label>Topic</mat-label>
                <input matInput [(ngModel)]="topicPublish">
              </mat-form-field>
              
          </mat-grid-tile>
        
          <mat-grid-tile
              [colspan]="3"
              [rowspan]="1"
              >
              <mat-form-field class="deneme" appearance="fill">
                <mat-label>QoS</mat-label>
                <mat-select>
                  <mat-option >QoS0 </mat-option>
                  <mat-option >QoS1 </mat-option>
                  <mat-option >QoS2 </mat-option>
                </mat-select>
              </mat-form-field>
          </mat-grid-tile>
        
          <mat-grid-tile
              [colspan]="4"
              [rowspan]="2"
              >
              <button (click)="Publish()" class="btn-lg" mat-raised-button color="primary">Publish</button>
              
          </mat-grid-tile>
        
          <mat-grid-tile
              [colspan]="13"
              [rowspan]="1"
              >
              <mat-form-field class="my-full-width" appearance="fill">
                <mat-label>Message</mat-label>
                <textarea  matInput [(ngModel)]="messagePublish" ></textarea>
              </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list> 
      </mat-tab>
    </mat-tab-group>
    
    
  </ng-template>

  <ng-template #userNonExist>

    <mat-form-field class="my-full-width mt-3" appearance="fill">
      <mat-label>Server</mat-label>
      <input matInput  [(ngModel)]="serverName" value="a2.pr14.bakelor.com.tr">
      <mat-icon matSuffix>storage</mat-icon>
        </mat-form-field>
        <div class="row">
            <mat-form-field class="my-width mt-3" appearance="fill">
          <mat-label>Kullanıcı Adı</mat-label>
          <input matInput [(ngModel)]="userName" value="drony">
          <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        
            <mat-form-field class="my-width mt-3" appearance="fill">
          <mat-label>Şifre</mat-label>
          <input type="password" matInput value="drony" [(ngModel)]="password">
          <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        
            <button 
            [routerLink]="['/login']"
            (click)="connectMqtt()" class="btn my-btn"
            >MQTT Connect
            </button>  
        </div>

  </ng-template>


    
  <div _ngcontent-ng-cli-universal-c49="" class="ui center aligned container card">
    <br _ngcontent-ng-cli-universal-c49="">
    <span _ngcontent-ng-cli-universal-c49="" class="ui small grey text"> ConnectionId:  {{ connectionId }}</span>
    <!-- <br _ngcontent-ng-cli-universal-c49=""> -->
    <span _ngcontent-ng-cli-universal-c49="" class="ui small grey text"> UUID : {{ getCookie() }}</span>
    <span _ngcontent-ng-cli-universal-c49="" class="ui small grey text"> GUID : {{ _guid }}</span>
    
    <span _ngcontent-ng-cli-universal-c49="" class="ui small grey text"> Total Client : {{ totalClient }}</span>


  </div>
  

  <!-- connection state -->

  <ng-template #con_try>
    <div *ngIf="signalDurumu !='Connection Closed' else con_failed">
      <div class="alert alert-warning">
        <p>{{ signalDurumu }}</p>
      </div>
    </div>
  </ng-template>
  
  <ng-template #con_failed>
    <div class="alert alert-danger">
      <p>{{ signalDurumu }}</p>
    </div>
  </ng-template>

  <ng-template #con_success>
    <div *ngIf="signalDurumu=='Connection Success';">
      <div class="alert alert-success">{{ signalDurumu }}</div>
    </div>
  </ng-template>
