<div *ngIf="signalDurumu=='Waiting connection....' || signalDurumu == 'Reconnecting' || signalDurumu == 'Connection Closed'; then con_try else con_success"> </div>
<div *ngIf='getCookie()==""; then userNonExist else userExist'> </div>

  <!-- user exist -->

  <ng-template #userExist>

    <div class="card">
      Uid : {{ getCookie() }}
    </div>
    <!-- <div ng-init="refresh()"> sa-> {{selam}}</div> -->

    <div class="row">
      <mat-form-field class="my-width mt-3" appearance="fill">
        <mat-label>Kullanıcı Adı</mat-label>
        <input disabled matInput value={{getLocalStorageName()}}>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field class="my-width mt-3" appearance="fill">
        <mat-label>Şifre</mat-label>
        <input disabled matInput value={{getLocalStoragePassw()}}>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button 
      [routerLink]="['/login']"
      (click)="logOut()" class="btn my-btn-disable"
      >MQTT Disconnect
      </button>  
    </div>

    <div *ngIf='signalDurumu=="Connection Success" && getCookie()!="" ; then mqttConnect else mqttNonConnect'> </div>
  </ng-template>

  <ng-template #userNonExist>

    <div class="card">
      Uid : {{ getCookie() }}
    </div>

    <div class="row">
      <mat-form-field class="my-width mt-3" appearance="fill">
        <mat-label>Kullanıcı Adı</mat-label>
        <input matInput [formControl]="userControl">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field class="my-width mt-3" appearance="fill">
        <mat-label>Şifre</mat-label>
        <input matInput [formControl]="passControl">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button 
      [routerLink]="['/login']"
      (click)="connectMqtt()" class="btn my-btn"
      >MQTT Connect
      </button>  
    </div>

  </ng-template>


  <!-- MQTT Connect -->

  <ng-template #mqttConnect>
    <!-- sayfa yenilemdiğinde bağlantı kopuyo dusun 
      bakelora subsribe oldugumda dinle mesajları
    -->
    <div class="row">
      <mat-form-field class="my-full-width  mt-4" appearance="fill">
        <input matInput class="my-full-width" [formControl] = "url">
      </mat-form-field>

      <br><br><br>

      <button (click)="sendMessage()" class="btn my-btn">Subscribe</button>

    </div> 

    <div class="row">
      <div class="col-sm-6">
        <div  *ngIf="clickSubscribe == true"  class="card" style="width: 18rem;">
          <ul *ngFor="let item of getGroup()"  class="list-group list-group-flush">
            <!-- <input [ngModel]="name" (ngModelChange)="name" value="{{ item.topics }}"> -->
            <li *ngIf="item.topics!=''" (click)="GrubaKatil()" class="list-group-item my-div">{{ item.topics }} 
              <div><button (click)="GrubtanAyril()" class="btn btn-secondary my-div-buton">unsubscribe</button></div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="clickSubscribe == true" class="col-sm-6">
        <div #container class="card container" >
          <ul *ngFor="let item of getTopic()" class="list-group list-group-flush ">
            <li class="list-group-item"> {{ item.data }}</li>
            <div><div class="btn btn-secondary my-div-count">{{ count }}</div></div>

          </ul>
        </div>
      </div>
      <!-- <div *ngIf="clickSubscribe == true" class="col-sm-6">
        <div #container class="card my-div container" >
          <ul *ngFor="let item of getTopic()" class="list-group list-group-flush ">
            <li   *ngIf="item.data !=''" class="list-group-item"> {{ item.data }}</li>
            <div><div class="btn btn-secondary my-div-count">{{count}}</div></div>

          </ul>
        </div>
      </div> -->
    </div>
    



    <div #container class="container">
      <ul>
        <!-- <li *ngFor="let i of itemList">{{i}}</li> -->
      </ul>
    </div>

    <button (click)="container.scrollTop = 0">Scroll to Top</button>

    

    <ng-template #deneme >
      1- deneme
      <!-- 
        ngModal dısarı aktar -> tıkladığında o grubu dinlesin, 
            unsubscribe'a basınca gruptan kaldırsın ve tekrar listelensin
        bak bakalım topicler geliyo mu
       -->

    </ng-template>


    


      <!-- <div *ngIf="mqttData.length>0; else no_data">

        <h1>{{ title }}</h1>
      
        <div class="alert alert-warning" *ngIf="mqttData.length>0">
          {{ mqttData.length +1 }} data bulundu.
        </div> 
      
        <ng-template [ngTemplateOutlet]="dataList1"></ng-template>

      </div> -->


  </ng-template>

  <ng-template #subscribe>
    subscribe başarılı
  </ng-template>
  
  <ng-template #mqttNonConnect>
    <div class="alert alert-warning" >
      Kullanıcı bağlanamadı
    </div>
  </ng-template>

  
  <!-- data list -->

  <ng-template #no_data>
    <div class="alert alert-warning" >
      Data bulunamadı.
    </div>
  </ng-template>


  <ng-template #dataList1>
    <div class="card mb-3" *ngFor="let item of getTopic()">
        <div class="row">
          <div class="col-md-3">
            <!-- <img src="/assets/img/logo.png" class="img-fluid rounded-start" alt=""> -->
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h2 class="card-title"></h2>
              <!-- <p class="card-text">{{ item.topics }}</p>-->
              <p class="card-text">{{ item.data }}</p> 
              <button class="btn btn-sm btn-outline-primary">Details</button>
            </div>
          </div>
        </div>
      </div>
  </ng-template>

  <!-- connection state -->

  <ng-template #con_try>
    <div *ngIf="signalDurumu !='Connection Closed' else con_failed">
      <div class="alert alert-warning">
        <p>{{ signalDurumu }}</p>
      </div>
    </div>
  </ng-template>
  
  <ng-template #con_failed>
    <div class="alert alert-danger">
      <p>{{ signalDurumu }}</p>
    </div>
  </ng-template>

  <ng-template #con_success>
    <div *ngIf="signalDurumu=='Connection Success';">
      <div class="alert alert-success">{{ signalDurumu }}</div>
    </div>
  </ng-template>

  
